node_modules
packages/**/node_modules
vendor/**/*
!vendor/autoload.php
!packages/core/dist
packages/**/vendor/**/
!packages/**/vendor/autoload.php
!packages/**/vendor/composer

# Logs, caches, etc
/cache
*storybook.log
packages/core/cache
docs-site/docs/.vuepress/.cache
docs-site/docs/.vuepress/.temp

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# PHPUnit/Pest
/test-results
/test/.phpunit.cache
/test/phpunit-report
.phpunit.cache

# Jest
/packages/core/coverage/

# Local dev SSL
/.cert/cert.pem
/.cert/key.pem

# Builds
storybook-static
docs
/test/unit/coverage/
