node_modules
vendor/*
!vendor/autoload.php
/wordpress
/cache
!dist
!packages/core/dist
packages/**/vendor
packages/**/node_modules
packages/core/cache
*storybook.log

# Symlinks
/test/browser/assets/*.css
/test/browser/stories/*
/docs-site/docs/.vuepress/.cache/
/docs-site/docs/.vuepress/.temp/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# PHPUnit
/test-results
/test/.phpunit.cache
/test/phpunit-report
.phpunit.cache
