<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         bootstrap="tests/unit/bootstrap.php"
         colors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         cacheDirectory=".phpunit.cache"
         beStrictAboutCoverageMetadata="true"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="display_startup_errors" value="1"/>
        <ini name="xdebug.mode" value="coverage"/>
    </php>
    <testsuites>
        <testsuite name="Core">
            <directory>packages/core/src/**/__tests__</directory>
        </testsuite>
        <testsuite name="WordPress">
            <directory>packages/comet-calendar/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">packages/core/src</directory>
            <directory suffix=".php">packages/comet-calendar/src</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory suffix="Test.php">packages/core/src</directory>
            <directory suffix="blade.php">packages/core/src</directory>
        </exclude>
    </source>
</phpunit>
