body {
	background: ghostwhite;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#root {
	padding: 0;
}

.mock-block-editor {
	background: white;
	box-sizing: border-box;
	margin: 1rem auto;
	font-family: var(--font-family-system);
	display: flex;
	max-width: 1280px;
	height: calc(100dvh - 2rem);
	overflow: hidden;

	.mock-block-editor__canvas {
		flex-grow: 1;
		height: 100%;
		overflow-y: auto;
	}

	.mock-block-editor__inspector {
		padding-block: 1rem;
		width: 280px;
		flex-basis: 280px;
		height: 100%;
		border-left: 1px solid #e0e0e0;
		overflow-y: auto;
	}
}

.block-list-appender {
	display: none;
}
