@import url("https://use.typekit.net/svp5arr.css");

.sb-bar[data-test-id="sb-preview-toolbar"] {
	/* Hide on docs pages by default */
	display: none;

	/* Show on standalone story view */

	.is-story-page &,
	#root:has(#storybook-panel-root) & {
		display: block;
	}
}

.sidebar-header {
	flex-wrap: wrap;
	height: 36px;

	div:has(img[alt="Comet Components"]) {
		width: 100%;
		flex-basis: 100%;

		a:has(img[alt="Comet Components"]) {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			img {
				/* match the docs site */
				width: 36px;
				margin-inline-end: 12px;
			}

			&:after {
				content: attr(title);
				font-family: gelica, sans-serif;
				font-size: 1.3rem;
				color: rgb(132, 94, 194);
			}
		}
	}

	div:has(button[aria-label="Shortcuts"]) {
		transform: translateY(70%);
		margin-left: auto;

		button[aria-label="Shortcuts"] {
			height: 2rem;

			> svg {
				width: 1.125rem;
				height: 1.125rem;
			}
		}
	}
}

.tippy-content {
	font-family: solitaire-mvb-pro, sans-serif;
	font-weight: 300;
}

.sidebar-item {

	a, button {
		display: flex;
		align-items: center;

		.sbdocs__icon {
			display: inline-block;
			margin-inline-start: auto;
			padding-inline-end: 0.25rem;

			.sbdocs__icon__inner {
				svg {
					display: block;
					width: 1.125rem;
					height: 1.125rem;
				}
			}

			/** "Docs" page directly under a "Component" button that expands/collapses its section **/
			[data-nodetype="component"] + [data-nodetype="document"] & {
				display: none;
			}

			/** Standalone "Docs" page **/
			[data-nodetype="document"] & {
				margin-inline-end: 0.25rem;
			}

			/** Standalone story OR story within an expanded list under a "Component" button **/
			[data-nodetype="story"] & {
				display: none;
			}
		}
	}
}

.search-field {
	width: calc(100% - 2.5rem);
	max-width: calc(100% - 2.5rem);
}

.docblock-argstable {
	.docblock-argstable-head,
	.docblock-argstable-body {
		display: grid;
		grid-template-columns: repeat(9, 1fr);

		tr {
			display: contents;
		}

		th, td {
			grid-column: span 2;
			width: unset !important;
			box-sizing: border-box;
			padding: 0.5rem 1rem !important;

			/** Description **/

			&:nth-of-type(2) {
				grid-column: span 3;
			}

			input {
				max-width: 100%;
			}
		}

		tr[title] {
			td:first-of-type {
				display: block;
				grid-column: span 9;
				border-inline: 1px solid rgba(38, 85, 115, 0.15);
				letter-spacing: 0;
				text-transform: none;
				font-weight: var(--font-weight-semibold);
				color: var(--color-dark);

				span {
					display: flex;
					width: 100%;
					align-items: center;
					justify-content: space-between;
					padding-block: var(--spacing-xs);
					font-size: 0.85rem;

					svg {
						order: 10;
						position: relative;
						margin-block: 0;
					}
				}
			}

			td:last-of-type {
				display: none;
			}
		}
	}
}
