@import url("https://use.typekit.net/daf8wql.css");

.sb-bar[data-test-id="sb-preview-toolbar"] {
	display: none; /* Hide on docs pages */

	#root:has(#storybook-panel-root) & {
		display: block; /* Show on standalone story view */
	}
}

.sidebar-header {
	flex-wrap: wrap;
	height: 36px;

	div:has(img[alt="Comet Components"]) {
		width: 100%;
		flex-basis: 100%;

		a:has(img[alt="Comet Components"]) {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			img {
				/* match the docs site */
				width: 36px;
				margin-inline-end: 12px;
			}

			&:after {
				content: attr(title);
				font-family: gelica, sans-serif;
				font-size: 1.3rem;
				color: rgb(132, 94, 194);
			}
		}
	}

	div:has(button[aria-label="Shortcuts"]) {
		transform: translateY(70%);
		margin-left: auto;

		button[aria-label="Shortcuts"] {
			height: 2rem;

			> svg {
				width: 1.125rem;
				height: 1.125rem;
			}
		}
	}
}

.tippy-content {
	font-family: solitaire-mvb-pro, sans-serif;
	font-weight: 300;
}

.sidebar-item {

	a, button {
		display: flex;
		align-items: center;

		.sbdocs__icon {
			display: inline-block;
			margin-inline-start: auto;
			padding-inline-end: 0.25rem;

			.sbdocs__icon__inner {
				svg {
					display: block;
					width: 1.125rem;
					height: 1.125rem;
				}
			}

			/** The button when there is multiple pages for a component, i.e., docs and stories */
			[data-icon="component"] {
			}

			[data-nodetype="document"] &,
			[data-nodetype="story"] & {
				display: none;
			}
		}
	}
}

.search-field {
	width: calc(100% - 2.5rem);
	max-width: calc(100% - 2.5rem);
}
