@import url("https://use.typekit.net/daf8wql.css");

:root {
	--comet-docs-body-font: solitaire-mvb-pro, sans-serif;
	--comet-docs-heading-font: gelica, sans-serif;
}

#storybook-docs {
	font-family: var(--comet-docs-body-font);

	h1, h2 {
		font-family: var(--comet-docs-heading-font);
	}

	.section-heading {
		font-family: var(--comet-docs-heading-font);
		font-weight: 700;
		font-size: 1.4rem;
	}

	.section-heading:not(:has(+ h3)) {
		margin-bottom: 0;
	}

	h3 {
		font-size: 1.1rem;
		font-family: var(--comet-docs-body-font);
		margin-block-end: 0;

		+ .sbdocs-preview {
			margin-block-start: 0.25rem;
		}
	}

	p {
		font-weight: 300;
	}

	/** Within the stories themselves **/
	.sbdocs-preview .docs-story {
		font-family: initial;

		h1, h2, h3 {
			font-family: initial;
		}
	}
}

.docblock-argstable {
	margin-top: 0;

	* {
		font-family: var(--comet-docs-body-font);
	}
}

.sbdocs-wrapper {
	padding: 2rem 1rem !important;
	container-type: inline-size;
}

.breakout {
	width: 100cqw;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1800px;

	figure {
		margin: 0;

		.sbdocs-preview {
			margin: 0;
		}
	}
}

.docs-story {
	padding: 1rem;
}

.docs-story > div:first-child {
	padding: 0;
}

.innerZoomElementWrapper > div:first-child {
	border: 0 !important;
}

.docs-story .sb-story > div:first-child {
	height: max-content !important;
}

.story--components-grouping-container {
	margin-bottom: 0 !important;
}

/* This wraps .story--components-grouping-container and includes the heading */
.sb-anchor:has(.story--components-grouping-container) {
	margin-block: var(--spacing-lg);
}

.sbdocs-preview:has(.sbdocs-preview--story-loading) {
	padding-top: 0 !important;
}

.sbdocs-preview:has(.sbdocs-preview--story-loading) > div:not(.sb-loader) {
	opacity: 0.25;
	pointer-events: none;
	position: relative;
}

.docs-wrapper {
	&.docs-wrapper--button {
		h2 {
			grid-column: span 2;
		}

		.stories-wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 1rem;

			> div {
				max-width: 100%;
				min-width: 0;
				overflow: hidden;
			}

			.code-preview-pair {
				display: block;
			}
		}
	}
}

:where(pre:not(.sb-anchor, .sb-unstyled, .sb-unstyled pre)):not(.prismjs) {
	background-color: #1d1c21 !important;
}

details {
	summary {
		cursor: pointer;
	}
}

.two-column-doc-section,
.abstract-class-doc {
	padding: 0;
	margin-bottom: 2rem !important;
	/* same as component story boxes */
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10);
	border-radius: 0.25rem;
	border: 1px solid hsla(203, 50%, 30%, 0.15);

	> div {
		&:first-of-type {
			padding: 1rem 0 1rem 1rem;
		}

		p {
			&:has(code) {
				display: flex;
				align-items: center;
			}

			strong:not(:first-child) {
				display: inline-block;
				margin-inline-start: 1rem;
			}
		}
	}

	dl {
		margin-top: 0.25rem;

		dt {
			margin-top: 0;

			code {
				background-color: #F7FAFC;
				border: 1px solid #ECF4F9;
				padding: 0.25rem;
				border-radius: 0.25rem;
			}
		}

		dd {
			font-size: 14px; /** same as default paragraph text */
			padding: 0 1rem;
		}
	}

	details {
		margin-bottom: 0.5rem;

		&:not(:has(+ details)) {
			margin-bottom: 1rem;
		}
	}

	table {
		margin: 0 0 1rem 0;
		width: 100%;
		max-width: 400px;

		th {
			width: 50%;
			text-align: start;
			background-color: #F7FAFC;

			.abstract-class-doc & {
				width: 30%;
			}
		}

		td {
			background-color: white;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	figure {
		margin: 0;
		overflow-x: hidden;

		& + figure {
			margin-top: 1rem;
		}

		figcaption {
			font-weight: bold;
			display: block;
			margin-bottom: 0.25rem;
		}

		dl + figure, dl + details {
			padding-left: 1rem;

			figcaption, summary {
				font-size: 14px;
				font-weight: bold;
			}
		}
	}
}

@media (min-width: 768px) {
	.two-column-doc-section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
		width: 100%;

		> div, > figure {
			min-width: 0;
			overflow-x: hidden;

			.code-preview {
				overflow-x: auto;
			}
		}
	}
}

#abstract-classes {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;

	.abstract-class-doc {
		margin-bottom: 0 !important;
		padding-right: 1rem;

		table {
			max-width: 100%;

			th {
				width: 120px;
				vertical-align: top;
			}
		}
	}

	#Renderable {
		grid-column: span 2;
	}
}
