@import url("https://use.typekit.net/daf8wql.css");

:root {
	--comet-docs-body-font: solitaire-mvb-pro, sans-serif;
	--comet-docs-heading-font: gelica, sans-serif;
}


.announcement-banner {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	text-align: center;
	font-weight: 300;
	font-family: var(--comet-docs-body-font);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	strong {
		font-weight: 600;
		display: block;
	}

	p {
		margin: 0;
	}

	.announcement-banner__info {
		background: color-mix(in srgb, #00d2fc, black 20%);
		color: white;
		padding: 0.5rem;
	}
}


.tippy-content {
	font-family: solitaire-mvb-pro, sans-serif;
	font-weight: 300;
	max-width: 10rem;
	text-align: start;
}

.tippy-box[data-placement="bottom"] {
	.tippy-content {
		text-align: center;
	}
}

.sbdocs__icons {
	display: flex;
	list-style: none;
	align-items: center;
	gap: var(--spacing-xs);
}

.sbdocs__icon {

	.sbdocs__icon__inner {
		display: inline-flex;
		align-items: center;
		position: relative;

		svg {
			width: 2.5rem;
		}

		&:hover, &:focus, &:active {
			color: currentColor;
		}

		.wp-type-icon {
			background: #40464d;
			border-radius: 100%;
			padding: 0.25rem;
			box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
			width: fit-content;
			aspect-ratio: 1/1;
			line-height: 0;
			position: absolute;
			bottom: -0.25rem;
			right: -0.75rem;

			svg {
				width: 1rem;
				height: 1rem;

				path {
					fill: white;
				}
			}
		}
	}
}

.comet-component-specs {
	margin-block-end: 3rem;

	p br {
		display: block;
		margin-block-end: var(--spacing-xs);
	}

	table {
		width: 100%;
		font-size: 0.9rem;
		margin-block-start: 2rem;

		tr {
			th, td {
				vertical-align: top;
				text-align: left;
				/** same as the docs story and controls table */
				padding: 10px 20px;
				border-bottom: 1px solid hsla(203, 50%, 30%, 0.15);
			}

			&:last-of-type {
				th, td {
					border-bottom: 0;
				}
			}

			th[scope="row"] {
				width: 8rem;
				text-align: left;

				a {
					display: inline-block;
					margin-inline-start: 0.25rem;
					opacity: 0.65;

					&:hover, &:focus, &:active {
						opacity: 1;
					}
				}
			}
		}
	}

	table:not(:has(thead)) {
		/** same as the docs story and controls table */
		border: 1px solid hsla(203, 50%, 30%, 0.15);
		box-shadow: rgba(0, 0, 0, 0.10) 0 1px 3px 0;
		border-radius: 0.25rem;
	}

	table:has(thead) {
		thead {
			th {
				color: rgba(46,52,56,0.75); /* same as controls table */
			}
		}

		tbody {
			border: 1px solid hsla(203, 50%, 30%, 0.15);
			box-shadow: rgba(0, 0, 0, 0.30) 0 1px 3px 0;
			border-bottom-left-radius: 0.25rem;
			border-bottom-right-radius: 0.25rem;

			td:not(:first-of-type) {
				font-weight: 300;
			}

			code {
				line-height: 1;
				margin: 0 2px;
				border-radius: 3px;
				border: 1px solid #ECF4F9;
				color: rgba(46,52,56,0.9);
				background-color: #F7FAFC;
				flex: 0 0 auto;
				font-family: ui-monospace,Menlo,Monaco,"Roboto Mono","Oxygen Mono","Ubuntu Monospace","Source Code Pro","Droid Sans Mono","Courier New",monospace;
				font-size: 12px;
				word-break: break-word;
				white-space: normal;
				max-width: 100%;
			}

		}
	}

	.comet-component-code-preview-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin: 1rem 0;

		a {
			font-size: 0.9rem;
			color: var(--color-primary);
			font-weight: 400;

			&:hover, &:focus, &:active {
				color: var(--color-secondary);
			}
		}

		code {
			width: 100%;
			flex-basis: 100%;
			margin-block-start: 0.25rem !important;
		}
	}
}

#storybook-docs {
	font-family: var(--comet-docs-body-font);

	h1, h2 {
		font-family: var(--comet-docs-heading-font);
	}

	.section-heading {
		font-family: var(--comet-docs-heading-font);
		font-weight: 700;
		font-size: 1.4rem;
	}

	.section-heading:not(:has(+ h3)) {
		margin-bottom: 0;
	}

	h3 {
		font-size: 1.1rem;
		font-family: var(--comet-docs-body-font);
		margin-block-end: 0;

		+ .sbdocs-preview {
			margin-block-start: 0.25rem;
		}
	}

	p {
		font-weight: 300;
	}

	/** Within the stories themselves **/
	.sbdocs-preview .docs-story {
		font-family: inherit;
	}
}

.docblock-argstable {
	margin-top: 0;

	* {
		font-family: var(--comet-docs-body-font);
		font-size: 0.9rem;
	}

	td {
		font-weight: 300;
	}

	#control-startDate-time,
	#control-endDate-time {
		display: none;
	}
}

.sbdocs-wrapper {
	padding: 2rem 1rem !important;
	container-type: inline-size;
}

.sbdocs-content {
	max-width: 840px !important;
}

.sbdocs-title {
	display: flex;
	align-items: center;
	justify-content: space-between;

	h1 {
		font-size: 2rem;
		margin: 0;
	}

	+ p {
		br {
			display: block;
			margin-bottom: 0.75rem;
		}
	}
}

.breakout {
	width: 100cqw;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	max-width: 2000px;

	figure {
		margin: 0;

		.sbdocs-preview {
			margin: 0;
		}
	}
}

.docs-story {
	padding: 1rem;
}

.docs-story > div:first-child {
	padding: 0;
}

.innerZoomElementWrapper > div:first-child {
	border: 0 !important;
}

.docs-story .sb-story > div:first-child {
	height: max-content !important;
}

.story--components-grouping-container {
	margin-bottom: 0 !important;
}

/* This wraps .story--components-grouping-container and includes the heading */
.sb-anchor:has(.story--components-grouping-container) {
	margin-block: var(--spacing-lg);
}

.docs-wrapper {
	&.docs-wrapper--button {
		h2 {
			grid-column: span 2;
		}

		.stories-wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 1rem;

			> div {
				max-width: 100%;
				min-width: 0;
				overflow: hidden;
			}

			.code-preview-pair {
				display: block;
			}
		}
	}
}

:where(pre:not(.sb-anchor, .sb-unstyled, .sb-unstyled pre)):not(.prismjs) {
	background-color: #1d1c21 !important;
}

.docs-story-responsive-container {
	overflow: hidden;
	width: 100%;
	position: relative;
	margin-block-end: 2rem;

	.docs-story-responsive-container__inner {
		margin: 0 auto;
		position: relative;

		.sbdocs-preview {
			margin-block-end: 0.5rem;

			.docs-story {
			}
		}

		.docs-story-viewport-width-control {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 9999;
			height: 40px; /* same as the toolbar */
			display: flex;
			align-items: center;
			padding-inline: 0.5rem;

			label {
				font-weight: 300;
				font-size: 0.9rem;
				display: inline-block;
				margin-inline-end: 0.25rem;
			}

			select {
				font-family: var(--comet-docs-body-font);
				cursor: pointer;
				font-weight: 300;
				padding: 0.25rem 0.5rem;
				border-radius: 0.25rem;
				border: 1px solid #ccc;
			}
		}
	}
}

.docs-story-open-in-new-tab {
	text-align: right;

	a {
		font-size: 0.9rem;
		display: inline-flex;
		align-items: center;
		color: var(--color-primary);

		svg {
			display: inline-block;
			margin-inline-end: 0.25rem;
		}
	}
}
