<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         cacheDirectory=".phpunit.cache"
         beStrictAboutCoverageMetadata="true"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="display_startup_errors" value="1"/>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="xdebug.mode" value="coverage"/>
    </php>
    <coverage>
        <report>
            <text outputFile="coverage/coverage.txt"/>
            <html outputDirectory="coverage/pest-report"/>
            <clover outputFile="coverage/coverage.xml"/>
        </report>
    </coverage>
    <source>
        <include>
            <directory suffix=".php">../../packages/core/src</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory suffix="Test.php">../../packages/core/src</directory>
            <directory suffix="blade.php">../../packages/core/src</directory>
        </exclude>
    </source>
</phpunit>
