.contact-details {
	font-style: normal;
	display: flex;
	flex-wrap: wrap;
	column-gap: var(--spacing-md);
	row-gap: var(--spacing-xs);
	font-size: var(--font-size-sm, 0.9rem);

	&__address {
		display: block;
		width: 100%;
		flex-basis: 100%;
	}

	.contact-details-wrapper.layout-block & {
		font-size: var(--font-size-base, 1rem);
	}
}
